body{
    background-image:url("../images/bg.jpg");
    color:#e22a2a;
}

a{
    color:#55dd33;
    font-size:25px;
}

h2{
    color:#d618f2;
    font-size:35px;
}

h1{
    margin:0;
    margin-left:40px;
    font-size:40px;
}

.drawing-page-title{
    padding-left:10px;
    margin:50px;
}

div.imageList img{
    display: block;
    margin-bottom: 10px;
 }

.drawings{
    padding:40px;
    font-size:30px;
    color:#55dd33;
}
